@page
@model AddOrderItemModel
@{
    ViewBag.Workflow = "CreateOrder";
}

<form method="post">
    <div class="form-group my-2">
        <label asp-for="OrderItem.Name"></label>
        <div>
            <span asp-validation-for="OrderItem.Name" class="text-warning"></span>
        </div>
        <input asp-for="OrderItem.Name" class="form-control" />
    </div>
    <div class="form-group my-2">
        <label asp-for="OrderItem.Quantity"></label>
        <input asp-for="OrderItem.Quantity" type="number" min="0" value="1" class="form-control" />
    </div>
    <div class="form-group my-2">
        <label asp-for="OrderItem.Unit"></label>
        <input asp-for="OrderItem.Unit" class="form-control" />
    </div>
    <div class="mt-3">
        <button type="submit" class="btn btn-success">Add</button>
        <a asp-page="CreateOrder" asp-route-id=@(TempData["id"] as string) class="btn btn-secondary">Cancel</a>
    </div>
</form>




